---
import Layout from "@/layouts/Layout.astro";
import WizardApp from "@/components/wizard/WizardApp";
---

<Layout title="New decision">
  <div class="bg-cosmic min-h-screen p-4 text-white">
    <div class="mx-auto max-w-2xl">
      <WizardApp client:only="react" />
    </div>
  </div>
</Layout>
